<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="css/styles.min.css" type="text/css">
</head>
<body>
<form action="/jedi" method="POST" class="new-term">
    <input class="new-term-input" type="text" name=description value="" placeholder="Add term">
    <input class="new-term-submit" type="submit" name="" value="+"><br style="clear: both;">
</form>

<div class="terms">
    <div class="terms-left">
        <% for(var i = 0; i < terms.length; i++) { %>
        <% if (!terms[i].hasValue) { %>
        <div class="terms-left-term left">
            <a href="#"><%= terms[i].term %></a>
        </div>
        <div class="terms-value left">
            <%= terms[i].value %>
        </div>
        <% }} %>
    </div>

    <div class="terms-right">
        <% for(i = 0; i < terms.length; i++) { %>
        <% if (terms[i].hasValue) { %>
        <div class="terms-right-term right">
            <a href="#"><%= terms[i].term %></a>
        </div>
        <div class="terms-value right">
            <%= terms[i].value %>
        </div>
        <% }} %>
    </div>

</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="js/page-interactive.min.js"></script>
</body>
</html>